
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Person

<div class="text-center">
<h1>New Account Created!</h1>

<table style="padding-bottom: 10px;" align="center">
    <tr>
        <td>User Name: @Model.userName</td>
    </tr>
    <tr>
        <td>First Name: @Model.firstName</td>
    </tr>
    <tr>
        <td>Last Name: @Model.lastName</td>
    </tr>
    <tr>
        <td>Account Type: @Model.accountType</td>
    </tr>
    <tr>
        <td>Email: @Model.email</td>
    </tr>
    <tr>
        <td>Phone: @Model.phone</td>
    </tr>
</table><br />
<input type="button" value="View Profile" onclick="@("window.location.href='" + @Url.Action("Profile", "Home") + "'");" />
<input type="button" value="Create Order" onclick="@("window.location.href='" + @Url.Action("Order", "Home") + "'");" />
</div>