@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ShopDBContext

<p style="font-size: 20pt; font-style:italic">Order</p>

<form>
    @{
        foreach (var item in @Model.Inventory)
        {
            <input type="button" id="@item.ProductId" name="@item.ProductName" value="Buy Now" onclick="location.href='@Url.Action("buyItem","Home", new { itemID = @item.ProductId })'" /> <label for="button">@item.ProductName</label><br />
        }
    }
</form>

