@using Microsoft.AspNetCore.Http
@using System.Text.Json

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

    User tempUser = JsonSerializer.Deserialize<User>(TempData.Peek("user").ToString());
}

<h1>Profile</h1>

<div class="text-center">
    <h1>Profile Information</h1>

    <table style="padding-bottom: 10px;" align="center">
        <tr>
            <td>User Name: @tempUser.UserName</td>
        </tr>
        <tr>
            <td>First Name: @tempUser.FirstName</td>
        </tr>
        <tr>
            <td>Last Name: @tempUser.LastName</td>
        </tr>
        <tr>
            <td>Account Type: @tempUser.Accounttype</td>
        </tr>
        <tr>
            <td>Email: @tempUser.Email</td>
        </tr>
        <tr>
            <td>Phone: @tempUser.Phone</td>
        </tr>
    </table><br />
</div>
<form>
    <input type="button" name="order" value="Order" onclick="location.href='@Url.Action("Order","Home")'" />
    <input type="button" name="logout" value="Logout" onclick="location.href='@Url.Action("Logout","Home")'" />
</form>

