@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Profile</h1>

<div class="text-center">
    <h1>Profile Information</h1>

    <table style="padding-bottom: 10px;" align="center">
        <tr>
            <td>User Name: @Context.Request.Cookies["user"]</td>
        </tr>
        <tr>
            <td>First Name: @Context.Request.Cookies["firstName"]</td>
        </tr>
        <tr>
            <td>Last Name: @Context.Request.Cookies["lastName"]</td>
        </tr>
        <tr>
            <td>Account Type: @Context.Request.Cookies["account"]</td>
        </tr>
        <tr>
            <td>Email: @Context.Request.Cookies["email"]</td>
        </tr>
        <tr>
            <td>Phone: @Context.Request.Cookies["phone"]</td>
        </tr>
    </table><br />
</div>
<form>
    <input type="button" name="order" value="Order" onclick="location.href='@Url.Action("Order","Home")'" />
    <input type="button" name="logout" value="Logout" onclick="location.href='@Url.Action("Logout","Home")'" />
</form>

