
@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Review Order</h1>

@if (TempData["broke"] == null)
{
<p>You have purchased @TempData["bought"]</p><p>Your balance is @String.Format("{0:0.00}", @TempData["balance"])</p> }
@if (TempData["bought"] == null)
{
<p>@TempData["broke"]</p>
}

<form>
    <input type="button" name="order" value="Order More" onclick="location.href='@Url.Action("Order","Home")'" />
    <input type="button" name="logout" value="Logout" onclick="location.href='@Url.Action("Logout","Home")'" />
</form>


